// Based on the same model of the square
.rect41_outer{
	// Outer part of the rectangle
	position: relative;
	width: 100%;

  overflow: hidden;

	&::before {
		content: "";
		display: block;
		padding-top: 25%;
	}
}
.rect41_inner{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

    padding: 5px;
}
.rect41_content{
  width: 100%;
  height: 100%;
}