// Based on the same model of the square
.rect23_outer{
	// Outer part of the rectangle
	position: relative;
	width: 100%;

  // overflow: hidden;

	&::before {
		content: "";
		display: block;
		padding-top: 150%;
	}
}