<section id="about_section"
  class="w-full"
>
  <p>About works!</p>

  <div class="flex flex-row flex-wrap w-full sticky top-0">

    <div *ngFor="let item of placeholder_items; let i = index" class="w-1/5 p-0.5">
      <app-square>
        <div class="" [ngClass]="i % 2 ? 'bg-cyan-100':'bg-cyan-200'">
          {{item.id}}
          {{item.name}}
          index : {{i + 1}}
        </div>
      </app-square>
    </div>

    <!-- <div class="w-1/5">
      <app-square>
        <div class="bg-cyan-200">
          b
        </div>
      </app-square>
    </div>

    <div class="w-1/5">
      <app-square>
        <div class="bg-sky-300">
          c
        </div>
      </app-square>
    </div>

    <div class="w-1/5">
      <app-square>
        <div class="bg-sky-200">
          d
        </div>
      </app-square>
    </div>

    <div class="w-1/5">
      <app-square>
        <div class="bg-blue-300">
          e
        </div>
      </app-square>
    </div> -->
  </div>
</section>
