
<!-- * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * App * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * -->
<div
  id="app-container"
  class="flex flex-col relative
    h-full w-screen min-w-[380px]
    mt-0.5 bg-slate-50
    overflow-hidden overflow-y-auto"
>
  <div class="fixed top-0 left-0 right-0 z-[9999] border-t-2 border-violet-400"></div>

  <app-header></app-header>
  
  <div
    class="flex flex-col grow bg-slate-50
    w-full max-w-[1140px]
    m-auto mt-0 py-2
    shadow-sm"
  >
  <!-- <div
    class="flex flex-col grow bg-amber-300
    w-full min-w-[420] max-w-[1280px]
    mx-auto my-0 p-1"
  > -->
    <div class="flex-grow">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>

  <div class="fixed bottom-0 left-0 right-0 z-[9999] border-t-2 border-indigo-400"></div>
</div>
