
<!-- * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * App * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * -->
<div
  id="app-container"
  class="flex flex-col
    justify-center
    items-center
    h-screen w-screen min-w-[420px]
    bg-purple-200"
>
  <app-header></app-header>
  
  <div
    class="flex flex-col grow bg-amber-300
    w-full max-w-[1140px]
    py-2"
  >
  <!-- <div
    class="flex flex-col grow bg-amber-300
    w-full min-w-[420] max-w-[1280px]
    mx-auto my-0 p-1"
  > -->
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
